<div class="container-perfil">
	<img src="../../../assets/images/perfilDuo.png"
		alt="Avatar">
</div>

<div class="containerDados">

	<div class="apresentacao">
		<h2>
			Brenno de Oliveira da Rosa
		</h2>
		<p>
			brenno.bor&#64;gmail.com
		</p>
		<h3>
			Por aqui desde 05 de maio de 2003
		</h3>
	</div>

	<div class="linguagens">
		<div class="iconesLing">
			<img src="../../../assets/icons/lang/angular.png"
				alt="java">
			<img src="../../../assets/icons/lang/ionic.png"
				alt="java">
			<img src="../../../assets/icons/lang/ts.png"
				alt="java">
			<img src="../../../assets/icons/lang/python.png"
				alt="java">
			<img src="../../../assets/icons/lang/java.png"
				alt="java">
			<img src="../../../assets/icons/lang/php.png"
				alt="java">
		</div>
	</div>
</div>


<h2>Formação</h2>
<div class="cards">

	<div class="cardBio">
    <img  class="logoForm" src="../../../assets/images/bentao.png">

    <div>
      <h2>BENTÃO</h2>
      <p>2018-2020</p>
      <p>Tec. Eletrônica</p>
    </div>

	</div>

	<div class="cardBio">

    <img class="logoForm" src="../../../assets/images/unifei.svg">

    <div>
      <h2>UNIFEI</h2>
      <p>2021-ATUAL</p>
      <p>Eng de Computação</p>
    </div>
	</div>

</div>

<h2>Experiência</h2>
<div class="cards">

  <div class="cardBio">
    <img class="logoForm" src="../../../assets/images/asimov.webp">


    <div>
      <h2>Asimov Jr.</h2>
      <p>2022 e 2023.2</p>
      <p>Dev Mobile</p>
    </div>

	</div>

	<div class="cardBio">

    <img class="logoForm" src="../../../assets/images/asimov.webp">
    <div>
      <h2>Asimov Jr.</h2>
      <p>2023.1</p>
      <p>Gerente Mobile</p>
    </div>
	</div>

</div>
