
<div class="flex">
  <app-menu-lateral class="containerMenu"
  [opcaoAtiva]="opcaoEscolhida"
  (opcaoSelecionada)="selecionarOpcao($event)"></app-menu-lateral>
  <div class="riscoCinza"></div>

  <app-trajetoria *ngIf="opcaoEscolhida == 'trajetoria'" class="containerPrincipal"></app-trajetoria>
  <app-projetos *ngIf="opcaoEscolhida == 'projetos'" class="containerPrincipal"></app-projetos>
  <app-perfil *ngIf="opcaoEscolhida == 'curriculo'" class="containerPrincipal"></app-perfil>

  <div class="riscoCinza"></div>
  <app-cards-noticias></app-cards-noticias>
</div>
