<div class="container-perfil">
	<img src="../../../assets/images/perfilDuo.png"
		alt="Avatar">
</div>

<div class="containerDados">

	<div class="apresentacao">
		<h2>
			Brenno de Oliveira da Rosa
		</h2>
		<p>
			brenno.bor&#64;gmail.com
		</p>
		<h3>
			Por aqui desde 05 de maio de 2003
		</h3>
	</div>

	<div class="linguagens">
		<div class="iconesLing">
			<img src="../../../assets/icons/lang/angular.png"
				alt="java">
			<img src="../../../assets/icons/lang/ionic.png"
				alt="java">
			<img src="../../../assets/icons/lang/ts.png"
				alt="java">
			<img src="../../../assets/icons/lang/python.png"
				alt="java">
			<img src="../../../assets/icons/lang/java.png"
				alt="java">
			<img src="../../../assets/icons/lang/php.png"
				alt="java">
		</div>
	</div>
</div>

<h2>
	Redes  Sociais
</h2>
<div class="containerInfos">
  <button class="containerInfo" (click)="openLink('https://www.linkedin.com/in/brenno-da-rosa/')">
    <img class="imgInfo" src="../../../assets/icons/redes/linkedin.png" alt="Voxy">
    <div class="info">
      <h3 class="tituloInfo">Linkedin</h3>
      <p class="textoInfo">Brenno da Rosa</p>
    </div>
  </button>
  <div class="linhaCinza"></div>
  <button class="containerInfo" (click)="openLink('https://github.com/Brennin555')">
    <img  class="imgInfo" src="../../../assets/icons/redes/github.png" alt="Voxy">
    <div class="info">
      <h3 class="tituloInfo">Github</h3>
          <p class="textoInfo">Brennin555</p>
    </div>
  </button>
  <div class="linhaCinza"></div>
  <button class="containerInfo"  (click)="openLink('https://www.instagram.com/brennin_555/')">
    <img  class="imgInfo" src="../../../assets/icons/redes/instagram.png" alt="Voxy">
    <div class="info">
      <h3 class="tituloInfo">Instagram</h3>
          <p class="textoInfo">brennin_555</p>
    </div>
  </button>
</div>

<div class="espaco"></div>
<div class="espaco"></div>
<div class="espaco"></div>
