@font-face {
  font-family: 'FeatherBold';
  src: url(assets/fonts/Feather-Bold/Feather-Bold.ttf) format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'DIN-Next-Rounded';
  src: url(assets/fonts/DIN-Next-Rounded/DIN-Next-Rounded.ttf) format('truetype');
  font-weight: bold;
  font-style: normal;
}

:root {
  --fundo: #131f24;
  --texto: #dce6ec;
  --corPrincipal: #61e002;
  --cinza: #37464f;
  --amarelo: #ffc700;
  --amareloEscuro:#cd7900;


  --unidade1: #1cb0f6;
  --unidade2: #cc348d;
  --unidade3: #58cc02;
  --unidade4: #ff4b4b;
  --unidadeBloqueada: #37464f;
  --botaoMenuHover: #202f36;
  --botaoMenuActive: #49c0f8;

  --fontePrincipal: 'FeatherBold', sans-serif;
  --fonteSecundaria: 'DIN-Next-Rounded', sans-serif;

  --l1: -60px;
  --l2: -120px;
  --r1: 60px;
  --r2: 120px;
}

body {
  background-color: var(--fundo);
  color: var(--texto);
  font-family: var(--fontePrincipal);
}

.containerPrincipal{
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.containerMenu{
  width: 222px;
  margin-left: 10px;
}

.containerMissoes{
  margin-right: auto;
}

.flex{
  display: flex;
}

.justify-content-center{
  justify-content: center;
}

.centralizar{
  align-items: center;
}


.riscoCinza{
  /* fazer risco vertical cinza */
  border-left: 1px solid var(--botaoMenuActive);
  height: 100%;

}

.cor1Card {
  background-color: var(--unidade1);
}

.cor2Card {
  background-color: var(--unidade2);
}

.cor3Card {
  background-color: var(--unidade3);
}

.cor4Card {
  background-color: var(--unidade4);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
