<div class="cardNoticia">
  <h2 class="tituloNoticia"> Ofensivas na faculdade:</h2>
  <div class="flex centralizar ">
    <img class="icone" src="../../../assets/icons/icons8-fire-64_2.png">
    <h3>{{(noticia?.totalDias ?? 0) - (noticia?.restante ?? 0) }} dias</h3>
  </div>

  <div class="barra-progresso">
    <div
      class="progresso"
      [style.width.%]="noticia?.porcentagemCompleta">
      <span class="progresso-texto">{{(noticia?.totalDias ?? 0) - (noticia?.restante ?? 0) }} / {{ noticia?.totalDias ?? 0 }}</span>
    </div>
  </div>
</div>
